@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* 
Primary (Text)
- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%) 
Background (gradient)
- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)
Text
- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)
Dividers
- Light grayish blue: hsl(240, 5%, 91%)
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Kumbh Sans', sans-serif;
  background: no-repeat linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100dvh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95dvh;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.contain {
  display: flex;
  align-items: center;
  height: 400px;
  width: 800px;
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 1.5em;
}

.contain-items {
  color: hsl(237, 12%, 33%);
}

.contain-items:nth-of-type(1) {
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 1200px;
  /* IMPORTANT! */
  flex: 1;
}

.contain-items:nth-of-type(2) {
  flex: 1;
  height: 400px;
  padding: 1.75em 0;
  border: 1px solid green;
}

.contain-items-bgPattern {
  position: absolute;
  object-fit: contain;
  height: 700px;
  width: 700px;
  top: -55%;
  left: -102%;
  z-index: 1;
}

/* .contain-items-bgPattern {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-size: contain;
  top: -52%;
  left: -85%;
  height: 700px;
  width: 700px;
} */

.contain-items-Pattern {
  position: absolute;
  object-fit: contain;
  height: 350px;
  width: 350px;
  top: 0;
  left: -15%;
  z-index: 2;
}

.contain-items-box {
  position: fixed;
  object-fit: contain;
  overflow: visible;
  top: 34%;
  left: 14%;
  z-index: 3;
}

.contain-items h1 {
  margin: .5em 0;
}

.contain-items-tabs,
.contain-items-tabs * {
  box-sizing: border-box;
}

.contain-items-tabs {
  max-width: 100%;
}

.contain-items-tabs input {
  display: none;
}

.contain-items-tabs label {
  position: relative;
  display: block;
  width: 100%;
  padding: 1em 0;
  font-weight: 700;
  color: hsl(240, 6%, 50%);
  cursor: pointer;
}

.contain-items-tabs .contain-items-tabs-content {
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.contain-items-tabs .contain-items-tabs-content p {
  padding: .625em 0;
}

.contain-items-tabs input:checked~.contain-items-tabs-content {
  max-height: 100dvh;

}

footer {
  color: hsl(0, 0%, 100%);
  font-size: 11px;
  text-align: center;
  border-top: 1px dashed hsl(240, 6%, 50%);
  padding: 10px;
}

footer a {
  color: hsl(0, 0%, 100%);
}