@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* 
Primary (Text)
- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%) 
Background (gradient)
- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)
Text
- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)
Dividers
- Light grayish blue: hsl(240, 5%, 91%)
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Kumbh Sans', sans-serif;
  background: no-repeat linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100dvh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95dvh;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.contain-group {
  display: flex;
}

.contain-items {
  color: hsl(237, 12%, 33%);
}

.contain-items:nth-of-type(2) {
  border: 1px solid red;
}

.contain-items-bgPattern {
  position: relative;
  overflow: hidden;
  border: 1px solid blue;
  height: 200px;
  width: 200px;
  left: -50%;
}

.contain {
  display: flex;
  align-items: center;
  height: 400px;
  width: 800px;
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 1.5em;
  text-align: center;
}

footer {
  color: hsl(0, 0%, 100%);
  font-size: 11px;
  text-align: center;
  border-top: 1px dashed hsl(240, 6%, 50%);
  padding: 10px;
}

footer a {
  color: hsl(0, 0%, 100%);
}